:root {

    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter_18pt-Regular.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: var(--Grey-900);
}
.main{
    padding:2.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.8rem;
    background-color: var(--Grey-800);
    border-radius: 1rem;
    width:310px;
    
    
}
.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    font-size:0.8rem;
}

.info img{
    border-radius: 50%;
    max-width:40%;
}
.info h1{
    color:var(--White);
    font-weight: 900;
}
.info {
    color:var(--Green);
    font-weight: 700;
}
 
.info .description p{
    color:var(--White);
    font-weight: 500;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    width:18rem;
    
}
.buttons button{
    height:2.5rem;
    border-radius: 0.5rem;
    border:none;
    outline:none;
    background-color: var(--Grey-700);
    color:var(--White);
    font-weight: 700;
}
.buttons button:hover{
    background-color: var(--Green);
    color:var(--Grey-900);
}

@media screen and (min-width:768px){
    .main{
        width:30rem;
        gap:2.5rem;
        
    }
    .info{
        font-size: 1.0rem;
    }
    .buttons button{
        height:3rem;
    }
}







